<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>交通预报</title>
  <link rel="stylesheet" href="./css/base.css">
  <link rel="stylesheet" href="./css/styles.css">
</head>
<body class="forecast">
  <div id="mapContainer" class="forecast-map"></div>
  <div class="forecast-detail">
    <div class="forecast-region">
      <div class="expressway">
        <span>G5京昆高速(西安-宁强)</span>
      </div>
      <div class="county">
        <span></span>
      </div>
    </div>
    <div class="list">
      <ul class="county-list"></ul>
      <ul class="expressway-list"></ul>
    </div>
    <div class="forecast-panel">
      <div class="weather-temp">
        <span class="temp-number"></span>
        <div class="temp-text">
          <span class="temp-circle"></span>
          <span class="weather-des"></span>
        </div>
      </div>
      <ul class="forecast-list">
        <li class="forecast-list-item">
          <img src="./images/wind-direction.png" alt="">
          <div class="forecast-info">
            <p>东南风</p>
            <p>3～4级</p>
          </div>
        </li>
        <li class="forecast-list-item">
          <img src="./images/humidity.png" class="humidity" alt="">
          <div class="forecast-info">
            <p>60%</p>
            <p>相对湿度</p>
          </div>
        </li>
        <li class="forecast-list-item">
          <img src="./images/rainfall.png" alt="">
          <div class="forecast-info">
            <p>60mm</p>
            <p>降水量</p>
          </div>
        </li>
        <li class="forecast-list-item">
          <img src="./images/pressure.png" alt="">
          <div class="forecast-info">
            <p>1024pa</p>
            <p>大气压力</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="temperature" class="forecast-temp" style="width:100%; height:267px;"></div>
  <ul class="forecast-nav">
    <li class="on"><a href="">高速公路预报</a></li>
    <li><a href="">省道预报</a></li>
    <li><a href="">国道预报</a></li>
  </ul>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=13356a0ccd8ad7d2bc0a731311acdef2&plugin=AMap.Driving"></script>
  <script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
  <script src="https://cdn.bootcss.com/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
  <script>
  // 天气状态
  var statusWeather = {
    '晴': './images/pre-sunny.png',
    '多云转小雨': './images/pre-rainy.png',
    '阵雨转晴': './images/pre-rainy.png',
    '阵雨转多云': './images/pre-rainy.png',
    '多云': './images/pre-cloudy.png',
    '多云转晴': './images/pre-cloudy.png',
    '晴转多云': './images/pre-cloudy.png'
  };
  // 元素
  var $temp = $('.temp-number'),
    $des = $('.weather-des'),
    $county = $('.county span'),
    $countylist = $('.county-list');
  //基本地图加载
  var map = new AMap.Map("mapContainer", {
      resizeEnable: true,
      center: [108.926759,34.281363],//地图中心点
      zoom: 9 //地图显示的缩放级别
  });
  var makers; // 地图标记集合
  map.plugin(['AMap.ToolBar'], function () {
    var toolBar = new AMap.ToolBar();
    map.addControl(toolBar);
  });
  // 导航策略
  var drivingOptions = {
    map: map,
    policy: AMap.DrivingPolicy.LEAST_TIME,
    hideMarkers: true,
    showTraffic: false,
    isOutline: false,
    autoFitView: true
  }
  //构造路线导航类
  var driving = new AMap.Driving(drivingOptions); 
  // 根据起终点名称规划驾车导航路线
  function route (start, end) {
    driving.search(start, end, function (status, result) {
      if (status === 'complete' && result.info === 'OK') {
        drawRoute(result);
      } else {
        alert(result);
      }
    });
  }
  //绘制路线图及途中的关键点
  function drawRoute (result) {
    $.ajax({
      type: 'get',
      url: 'result.json',
      dataType: "json",
      success: function (data) {
        // 每次请求都要重置marker集合
        var html = '';
        markers = [];
        if (data) {
          data.forEach(function (item, index) {
            var city = item.cityname;
            var tq = item.weather.f.f1[0].tq;
            var lnglat = new AMap.LngLat(item.lat, item.lon);
            var iconbase = {
              size:new AMap.Size(30,30),
              imageSize:new AMap.Size(30,30)
            };
            var handlerMarkerClick = function () {
              // 改变内容
              $county.text(city);
              $des.text(tq.weather);
              $temp.text(parseInt(item.weather.f.f1[0].fc));
              // 改变选中状态
              $countylist.find('li').removeClass('active');
              $(".county-list li:contains('" + city + "')").addClass('active');
              
              markers.forEach(function (marker) {
                marker.setIcon(marker.iconOld);
              });
              changeMarker(this);
            }
            // 改变选中时maker的样式
            function changeMarker (marker) {
              var iconOld = marker.iconOld.G.image;
              var iconArr = iconOld.split('.png');
              var iconNew = iconArr[0] + '-active.png';
              marker.iconNew = new AMap.Icon($.extend({image: iconNew}, iconbase));
              marker.setIcon(marker.iconNew);
            }
            var iconOld = new AMap.Icon($.extend({image: statusWeather[tq.weather]}, iconbase));
            var marker = new AMap.Marker({
              icon : iconOld, //复杂图标
              visible : true, 
              extData: {
                city: city
              },
              position : lnglat,
              map:map,
              offset:{x:-18,y:-28} //相对于基点的位置
            });
            marker.iconOld = iconOld;
            AMap.event.addDomListener(marker, 'click', handlerMarkerClick);
            AMap.event.addListener(marker, 'click', handlerMarkerClick);
            if (index === 0) {
              html += '<li class="active"><span>' + city + '</span></li>';
            } else {
              html += '<li><span>' + city + '</span></li>';
            }
            markers.push(marker);
          });
          $countylist.html(html);
          markers[0].onclick();
          $countylist.on('click', 'li', function () {
            var index = $(this).index();
            var marker = markers[index];
            $(this).addClass('active').siblings().removeClass('active');
            marker.onclick();
            $countylist.slideUp();
          });
        }
      },
      error: function (err) {
        console.log(err);
      }
    });
  }
  var startPoint = [108.818058,34.198588];
  var endPoint = [106.341976,32.851561];
  route(startPoint, endPoint);
  $county.on('click', function () {
    $countylist.slideToggle();
  });
</script>
<script>
  $(function () {
    var myChart = echarts.init(document.getElementById('temperature'));
    // 指定图表的配置项和数据
    var option = {
      tooltip: {
        trigger: 'axis'
      },
      textStyle: {
        color: '#fff'
      },
      xAxis: {
        position: 'top',
        axisTick: {
          show: false
        },
        data: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24']
      },
      yAxis: {
        type: 'value',
        show: false
      },
      grid: {
        show: false,
        right: 0,
        left: 0,
        top: 50,
        bottom: 0
      },
      series: [{
        type: 'line',
        smooth: true,
        areaStyle: {
          normal: {
            color: '#6aa2da',
            opacity: 1
          }
        },
        lineStyle: {
          normal: {
            color: '#fff600',
            width: 3,
            opacity: 1
          }
        },
        showSymbol: false,
        markPoint: {
          symbol: 'circle'
        },
        itemStyle: {
          emphasis: {
            color: '#fff600',
            borderColor: 'rgba(255, 255, 255, 0.3)',
            borderWidth: 3
          }
        },
        data: [5, 20, 36, 10, 10, 20, 5, 20, 100, 10, 10, 20, 36, 10, 10, 20, 5, 5, 20, 36, 10, 10, 20, 36],
      }]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
  });
</script>
</body>
</html>