<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>User you want to be</title>
</head>
<body>
  <h2>User to look for:</h2>
  <p><span>Name:</span> <%= name %></p>
  <p><span>Job:</span> <%= job %></p>
</body>
</html>